   #circle {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background: rgb(0, 157, 255);
      position: absolute;
      left: 0;
      top: 500;
    }

    .stuff{
      background: rgb(0, 255, 132);
      color:white;
    }

    #third{
      background: rgb(128, 102, 0);
      color:white;
    }

    body{
        background-color: rgb(222, 135, 157);
    }